.gallery__image
{
    width: 95%;
    display: block;
    margin: auto;
    margin: 15px;
    border-width: 7px;
    border-style: groove;
    border-color: rgb(155, 142, 142);
    border-radius: 15px;
}